<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>蒲团微信</title>
    <script>
        OPENID = '${openId}';
    </script>
    <link href="$!{UrlBroker.getUrl('DomainHome').toString()}/res/css/app.9a777cdb70d537a0d69d2468851b323a.css" rel="stylesheet">
</head>
 
<body>
<div id="app"></div>
<script type="text/javascript" src="$!{UrlBroker.getUrl('DomainHome').toString()}/res/js/manifest.d925c96841546ee0f476.js"></script>
<script type="text/javascript" src="$!{UrlBroker.getUrl('DomainHome').toString()}/res/js/vendor.6181697c475798e07ccc.js"></script>
<script type="text/javascript" src="$!{UrlBroker.getUrl('DomainHome').toString()}/res/js/app.a50b00e4ca6d34c482fc.js"></script>
</body>

</html>
