#set($BOSS_STATIC_PATH = 'http://static.putuan.net/boss/static')
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset=utf-8>
    <meta name=viewport content="initial-scale=1,maximum-scale=3,minimum-scale=1,user-scalable=no">
    <title>登录</title>
    <script src=$BOSS_STATIC_PATH/js/modernizr.min.js></script>
    <link href=$BOSS_STATIC_PATH/css/app.css rel=stylesheet>
</head>
<body>
<div class="account-pages">
</div>
<div class="clearfix"></div>
<div class="wrapper-page">
    <div class=" card-box">
        <div class="panel-heading">
            <h3 class="text-center"> 登录管理系统 </h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" id="loginForm" name="loginform"  role="form">
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" name="username" id="username" placeholder="用户名">
                        <div class="errors" style="display: none">
                            <p class="text-left">请输入用户名</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" name="password" id="password" placeholder="密码">
                        <div class="errors" style="display: none">
                            <p class="text-left">请输入密码</p>
                        </div>
                    </div>
                </div>
                <div class="callbackError text-center" style="display: none;color:red">

                </div>
                <div class="form-group text-center">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-block text-uppercase waves-effect waves-light"  type="button" onclick="login()">登 录</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<script>
    var resizefunc = []
</script>
<script src=$BOSS_STATIC_PATH/js/jquery.min.js></script>
<script src=$BOSS_STATIC_PATH/js/bootstrap.min.js></script>
<script src=$BOSS_STATIC_PATH/js/detect.js></script>
<script src=$BOSS_STATIC_PATH/js/fastclick.js></script>
<script src=$BOSS_STATIC_PATH/js/jquery.slimscroll.js></script>
<script src=$BOSS_STATIC_PATH/js/jquery.blockUI.js></script>
<script src=$BOSS_STATIC_PATH/js/waves.js></script>
<script src=$BOSS_STATIC_PATH/js/wow.min.js></script>
<script src=$BOSS_STATIC_PATH/js/jquery.nicescroll.js></script>
<script src=$BOSS_STATIC_PATH/js/jquery.scrollTo.min.js></script>
<script src=$BOSS_STATIC_PATH/js/jquery.core.js></script>
<script src=$BOSS_STATIC_PATH/js/jquery.app.js></script>
<script>
    function login() {
        var username = $("#username").val();
        var password = $("#password").val();
        if(username==''){
            $("#username").next(".errors").show()
        }
        if(password==''){
            $("#password").next(".errors").show()
        }

        if(username!=''&&password!=''){
            $.ajax({
                url:'/tologin',
                data:{userName:username,password:password},
                success:function (result) {
                    if(result.success){
                        window.location.href="/"
                    }else{
                        $(".callbackError").text(result.msg).show().delay(3000).hide()
                    }
                }
            })
        }

    }
    $(function () {
        $(".form-control").focus(function () {
            $(this).next(".errors").hide()
        })
    })
</script>
<style>
    .errors{
        color:red;
        font-size: 12px;
    }
    .errors p{
        margin-bottom: 0;
    }
</style>
</body>
</html>