<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>微信运动后台管理系统</title>
    <meta name="Keywords" content=/>
    <meta name="Description" content=/>
    <link href="../res/css/boss.css" rel="stylesheet">
    <script src="../res/js/jquery.min.js"></script>
</head>
<body class="page_index">


<!--首页开始{-->
<div class="body">
    <div>
        <div>
            <input type="text" name="keyword" placeholder="设备ID / Mac地址"
                   value="$!{keyword}">
            <a class="btn" href="javascript:;" name="search">搜索</a>
        </div>
        <div>
            <a class="btn addbox" href="javascript:;" name="showAddDevice">添加设备</a>
        </div>
        <div class="group-table">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>设备ID</th>
                    <th>mac</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    #foreach($di in $!pageDevice.result)
                    <tr>
                        <td>$!{di.id}</td>
                        <td>$!{di.deviceId}</td>
                        <td>$!{di.mac}</td>
                        <td>$!{di.createTime}</td>
                        <td>
                            <a class="btn addbox" href="javascript:;" name="showEditDevice"
                               onclick="showEditDevice(this)">修改</a>
                        </td>
                    </tr>
                    #end
                </tbody>
            </table>

        </div>
    </div>


</div>

<!--弹窗{-->
<div class="popbox">
    <div class="dialog">
        <div class="dialog_hd">
            <h3 data-name="dialog_title">添加设备</h3>
        </div>
        <div class="dialog_bd">
            <div name="product" class="fi">
                <label class="title">产品：</label>

                <div class="fi_item">
                    <select name="productId">
                        #foreach($product in $!products)
                            <option value=$!{product.id}>$!{product.name}</option>
                        #end
                    </select>
                </div>
            </div>

            <div class="fi">
                <label class="title">mac：</label>

                <div class="fi_item">
                    <input class="input_text" type="text"
                           placeholder="设备的mac地址 格式采用16进制串的方式（长度为12字节），不需要0X前缀，如： 1234567890AB" name="mac"/>
                </div>
            </div>

            <div class="fi">
                <label class="title">connect_protocol：</label>

                <div class="fi_item" name="connectProtocol">
                    <ul>
                        <li class="itme_li">
                            <input type="checkbox" value="1">
                            android classic bluetooth
                        </li>
                        <li class="itme_li">
                            <input type="checkbox" value="2">
                            ios classic bluetooth
                        </li>
                        <li class="itme_li">
                            <input type="checkbox" value="3" checked>
                            ble
                        </li>
                        <li class="itme_li">
                            <input type="checkbox" value="4">
                            wifi
                        </li>
                    </ul>
                </div>
            </div>

            <div class="fi">
                <label class="title">auth_key：</label>

                <div class="fi_item">
                    <input class="input_text" type="text"
                           placeholder="auth及通信的加密key，第三方需要将key烧制在设备上（128bit），格式采用16进制串的方式（长度为32字节）" name="authKey"/>
                </div>
            </div>

            <div class="fi">
                <label class="title">close_strategy：</label>

                <div class="fi_item">
                    <select name="closeStrategy">
                        <option value="1">1：退出公众号页面时即断开连接</option>
                        <option value="2">2：退出公众号之后保持连接不断开</option>
                        <option value="3">3：退出公众号之后一直保持连接</option>
                    </select>
                </div>
            </div>

            <div class="fi">
                <label class="title">conn_strategy：</label>

                <div class="fi_item" name="connStrategy">
                    <ul>
                        <li class="itme_li">
                            <input type="checkbox" value="1" checked>
                            1：在公众号对话页面，不停的尝试连接设备
                        </li>
                        <li class="itme_li">
                            <input type="checkbox" value="4" checked>
                            4：处于非公众号页面（如主界面等），微信自动连接
                        </li>
                        <li class="itme_li">
                            <input type="checkbox" value="8" checked>
                            8：进入微信后即刻开始连接。
                        </li>
                    </ul>
                </div>
            </div>

            <div class="fi">
                <label class="title">crypt_method：</label>

                <div class="fi_item">
                    <select name="cryptMethod">
                        <option value="0">0：不加密</option>
                        <option value="1">1：AES加密（CBC模式，PKCS7填充方式）</option>
                    </select>
                </div>
            </div>

            <div class="fi">
                <label class="title">auth_ver：</label>

                <div class="fi_item">
                    <select name="authVer">
                        <option value="0">0：不加密的version</option>
                        <option value="1">1：version 1</option>
                    </select>
                </div>
            </div>

            <div class="fi">
                <label class="title">manu_mac_pos：</label>

                <div class="fi_item">
                    <select name="manuMacPos">
                        <option value="-1">-1：在尾部</option>
                        <option value="-2">-2：表示不包含mac地址</option>
                        <option value="0">其他：非法偏移</option>
                    </select>
                </div>
            </div>

            <div class="fi">
                <label class="title">ser_mac_pos：</label>

                <div class="fi_item">
                    <select name="serMacPos">
                        <option value="-1">-1：在尾部</option>
                        <option value="-2" selected>-2：表示不包含mac地址</option>
                        <option value="0">其他：非法偏移</option>
                    </select>
                </div>
            </div>

            <div class="fi">
                <label class="title">ble_simple_protocol：</label>

                <div class="fi_item">
                    <select name="bleSimpleProtocol">
                        <option value="1">1：计步设备精简协议</option>
                    </select>
                </div>
            </div>
            <div>
                <a class="btn" href="javascript:;" name="addDevice">确定</a>
                <a class="btn close" href="javascript:;">取消</a>
            </div>
        </div>

    </div>
</div>

<script>
    $("a[name='showAddDevice']").on("click", function () {
        $('div[name="product"]').css('display','block');
        $('input[name="mac"]').val('');
        $('input[name="authKey"]').val('');

        $(".popbox").fadeIn("fast");
    })

    $('a[name="search"]').bind('click', function () {
        var keyword = $('input[name="keyword"]').val();
        var url = '/boss/device?keyword=' + encodeURIComponent(keyword);
        document.location.href = url;
    });

    $(".popbox .closed,.btn.close").on("click", function () {
        $(".popbox").fadeOut("fast");
    })

    $('a[name="addDevice"]').on("click", function () {
        var params = getParams();
        params['ajax'] = true;

        $.ajax({
            url: "/boss/device/add",
            type: 'POST',
            data: params,
            dataType: 'json',
            cache: false,
            success: function (data) {
                document.location.reload();
            }
        })

    })

    function showEditDevice(obj) {
        var id = parseInt($(obj).parent().parent().find("td:first-child").text());
        $('div[name="product"]').css('display','none');
        $.get("/boss/device/" + id, {},
                function (data, textStatus) {
                    if (data.success) {
                        var device = data.data.device;
                        $('select[name="productId"]').val(device.productId);
                        $('input[name="mac"]').val(device.mac);
                        $('input[name="authKey"]').val(device.authKey);
                        $('select[name="closeStrategy"]').val(device.closeStrategy);
                        $('select[name="authVer"]').val(device.authVer);
                        $('select[name="manuMacPos"]').val(device.manuMacPos);
                        $('select[name="serMacPos"]').val(device.serMacPos);
                        $('select[name="cryptMethod"]').val(device.cryptMethod);
                        $('select[name="bleSimpleProtocol"]').val(device.bleSimpleProtocol);
                        $('div[name="connectProtocol"] li input').prop('checked', false);
                        $('div[name="connStrategy"] li input').prop('checked', false);
                        $('div[name="connectProtocol"] li input').each(function (index, item) {
                            if (device.connectProtocol.indexOf($(item).attr('value')) != -1) {
                                $(item).prop('checked', true);
                            }
                        });
                        $('div[name="connStrategy"] li input').each(function (index, item) {
                            var a = parseInt(device.connStrategy);
                            var b = parseInt($(item).attr('value'));
                            if ((a & b) == b) {
                                $(item).prop('checked', true);
                            }
                        });
                    } else {
                        alert('加载设备信息失败')
                    }
                }
        );
        $(".popbox").fadeIn("fast");
    }

    function getParams() {
        var connectProtocol = '';
        $('input[name="connectProtocol"]:checked').each(function () {
            connectProtocol += $(this).val().trim() + '|';
        });
        connectProtocol = connectProtocol.substr(0, connectProtocol.length - 1);

        var connStrategy = 0;
        $('input[name="connStrategy"]:checked').each(function () {
            connStrategy |= $(this).val().trim()
        });

        var params = {
            'productId': $('select[name="productId"]').val().trim(),
            'mac': $('input[name="mac"]').val().trim(),
            'connectProtocol': connectProtocol,
            'authKey': $('input[name="authKey"]').val().trim(),
            'closeStrategy': $('select[name="closeStrategy"] option:selected').val().trim(),
            'connStrategy': connStrategy,
            'authVer': $('select[name="authVer"] option:selected').val().trim(),
            'manuMacPos': $('select[name="manuMacPos"] option:selected').val().trim(),
            'serMacPos': $('select[name="serMacPos"] option:selected').val().trim(),
            'cryptMethod': $('select[name="cryptMethod"] option:selected').val().trim(),
            'bleSimpleProtocol': $('select[name="bleSimpleProtocol"] option:selected').val().trim()
        };

        return params;
    }

</script>
</body>

</html>