<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.advanpro.putuan.dao.ProductDao">

    <select id="queryAll" resultType="com.advanpro.putuan.model.Product">
        <include refid="productSelector"></include>
        ORDER BY create_time DESC
    </select>

    <select id="queryById" resultType="com.advanpro.putuan.model.Product">
        <include refid="productSelector"></include>
        WHERE id = #{id} limit 1
    </select>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO product (product_id, name, access_type, type, connect_type, detail, configure_type, configure, create_time)
        VALUES (#{productId}, #{name}, #{accessType}, #{type}, #{connectType}, #{detail}, #{configureType}, #{configure}, now())
    </insert>

    <update id="update">
        UPDATE product
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="accessType != null">access_type = #{accessType},</if>
            <if test="type != null">type = #{type},</if>
            <if test="connectType != null">connect_type = #{connectType},</if>
            <if test="detail != null">detail = #{detail},</if>
            <if test="configureType != null">configure_type = #{configureType},</if>
            <if test="configure != null">configure = #{configure},</if>
            update_time = now()
        </set>
        WHERE id = #{id}
    </update>

    <sql id="productSelector">
        SELECT id, product_id, name, access_type, type, connect_type, detail, configure_type, configure, create_time, update_time FROM product
    </sql>

</mapper>
